body {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 30px;
  background-color:rgba(240, 255, 255, 0.276);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.fit-content a{
  width: fit-content;
}

li{
  margin-top:10px ;
}

.logo-container{
display: flex;
justify-content: center;

}

.logo {
  width: 250px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.9);
}

.title {
  text-align: center;
  font-weight: bold;
}

.recipe-picture {
  width: 350px;
  height: 450px;
  object-fit: cover;
  object-position: right;
  border-radius: 10px;
}

.description-container {
  display: flex;
  align-items: top;
}

.recipe-description {
  margin-left: 30px;
  border: solid orange;
  border-radius: 10px;
  padding: 20px 20px;
  width: 2000px;
}

.more-description {
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.9);
  margin-left: 20px;
  padding: 0px 10px;
  background-color: rgba(255, 166, 0, 0.412);
  width: 300px;
  border-radius: 10px;
}

.more-description .title {
  font-weight: bold;
  font-size: 18px;
}

.ingredients-container{
  display: flex;
  align-items: top;
}

.ingredients {
  border: solid orange;
  width: 350px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 0 20px;

}

.recipe-steps {
  border: solid orange;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 30px;
  padding: 20px 20px;
  width: 2000px;

}


.nutrition-information{
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.9);
  padding: 0px 10px;
  background-color: rgba(255, 166, 0, 0.412);
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;
  padding: 0px 10px;

  
  

}

button{
  display: block;
  margin: auto;
  background-color:black;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
}


button:hover{
  background-color:white;
  color: black;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.7)
  
  
  }