.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:400px;
  height:333px;
}


h1{
font-family:'Jua', sans-serif;
font-size: 70px;
margin-bottom: 0px;
margin-top: 0px;
}


h1 {
text-align: center;

}

p{
  text-align: center;
  font-weight:bold;
  font-size: 24px;
  
  }
  

.recipe-images{
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  

}

.recipe-images img {
  width: 350px;
  height: 500px;
  margin: 60px;
  margin-bottom: 10px;
  transition: 0.4s;
}


.recipe-images img:hover{

  border-radius: 100px;
  opacity: 0.8;
  border-radius: 25px;
  border-style: solid;
  border-color: green;
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: 2px 2px 10px rgba(0, 128, 0, 1.5);
  
}


  .recipe-images div:active{
    opacity: 0.4;
  
    
  }
  


  


